$sg-primary: #1543C6;
$sg-primary-dark: #001247;
$sg-success: #69A94B;
$sg-success-dark: darken($sg-success, 20%);
$sg-danger: #7A2527;
$sg-danger-dark: darken($sg-danger, 20%);
$sg-warning: #BA8435;
$sg-warning-dark: darken($sg-warning, 20%);

$sg-grey-dark: #333;
$sg-grey: #E7E7E7;

$sg-link: #1543C6;
$sg-link-hover: #001247;

$sg-text: #000;
