<div class="taskboard">

  <div class="description">
    <h1>Taskboard Challenge</h1>

    <p>Write the following logic for the Taskboard.</p>

    <ol>
      <li>Items in list 1 can only move to list 2, not list 3.</li>
      <li>Items in list 2 can move to either list 1 or 3.</li>
      <li>Items in list 3 can only move to list 1, not 2.</li>
    </ol>

    <p>We are using
      <a href="https://github.com/bevacqua/dragula" target="_blank">Dragula</a>
      as the drag-and-drop component.</p>
  </div>

  <h3 class="list-title title-1">List 1</h3>
  <h3 class="list-title title-2">List 2</h3>
  <h3 class="list-title title-3">List 3</h3>

  <div class="list list-1" [dragula]="list" [(dragulaModel)]="list1">
    <app-board-item *ngFor="let item of list1" [theme]="item.theme">
      {{ item.title }}
    </app-board-item>
  </div>

  <div class="list list-2" [dragula]="list" [(dragulaModel)]="list2">
    <app-board-item *ngFor="let item of list2" [theme]="item.theme">
      {{ item.title }}
    </app-board-item>
  </div>

  <div class="list list-3" [dragula]="list" [(dragulaModel)]="list3">
    <app-board-item *ngFor="let item of list3" [theme]="item.theme">
      {{ item.title }}
    </app-board-item>
  </div>
</div>
