<div class="taskboard">

  <div class="description">
    <h1>Taskboard Challenge</h1>

    <p>Write the following logic for the Taskboard.</p>

    <ol>
      <li>Items in list 1 can only move to list 2, not list 3.</li>
      <li>Items in list 2 can move to either list 1 or 3.</li>
      <li>Items in list 3 can only move to list 1, not 2.</li>
    </ol>

    <p>We are using
      <a href="https://github.com/bevacqua/dragula" target="_blank">Dragula</a>
      as the drag-and-drop component.</p>
  </div>

  <h3 class="list-title todo-title">To Do</h3>
  <h3 class="list-title in-progress-title">In Progress</h3>
  <h3 class="list-title done-title">Done</h3>

  <div class="list todo-list" [dragula]="list" [(dragulaModel)]="todoList" id="todoList">
    <app-board-item *ngFor="let item of todoList" [theme]="item.theme">
      {{ item.title }}
    </app-board-item>
  </div>

  <div class="list in-progress-list" [dragula]="list" [(dragulaModel)]="inProgressList" id="inProgressList">
    <app-board-item *ngFor="let item of inProgressList" [theme]="item.theme">
      {{ item.title }}
    </app-board-item>
  </div>

  <div class="list done-list" [dragula]="list" [(dragulaModel)]="doneList" id="doneList">
    <app-board-item *ngFor="let item of doneList" [theme]="item.theme">
      {{ item.title }}
    </app-board-item>
  </div>
</div>
