@import 'src/assets/scss/variables';

.taskboard {
  display: grid;
  grid-gap: 1.4rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto 1fr;
  height: 100%;
}

.description {
  grid-column: span 3;
}

.list-title {
  margin: 0;

  &.todo-title {
    grid-column: 1;
    grid-row: 2;
  }

  &.in-progress-title {
    grid-column: 2;
    grid-row: 2;
  }

  &.done-title {
    grid-column: 3;
    grid-row: 2;
  }
}

.list {
  padding: 1.4rem;
  background: $sg-grey;

  &.todo-list {
    grid-column: 1;
    grid-row: 3;
  }

  &.in-progress-list {
    grid-column: 2;
    grid-row: 3;
  }

  &.done-list {
    grid-column: 3;
    grid-row: 3;
  }
}
