<div class="small-page">
  <h1>Add the current New York, New York temperature to the Header</h1>
  <p>Use the <a href="https://openweathermap.org/current" target="_blank"><code>openweathermap.org</code> free weather api</a>
    to pull the current temperature in <strong>fahrenheit</strong> for New York, New York and display it on the right side of the header. The
    temperature should be updated every 30 seconds.</p>

  <p>Use the API KEY: <code>354b4e751f41872ac5ee002579748a47</code></p>

  <p>Bonus points for extra features or out of the box creativity.</p>
</div>


