<div class="small-page">
  <h1>Add the User's Current Temperature to the Header</h1>
  <p>Get the user's location (latitude & longitude) based on their browser and search the
    <a href="https://openweathermap.org/current" target="_blank"><code>openweathermap.org</code> free weather api</a>
    to pull the current temperature in <strong>fahrenheit</strong> for that location. Display it on the right
    side of the header. The temperature should be updated every 30 seconds.</p>

  <p>Use the OpenWeatherMap API KEY: <code>354b4e751f41872ac5ee002579748a47</code></p>

  <p>Bonus points for extra features or out of the box creativity.</p>
</div>


