<header class="header">
  <div class="logo">
    <a routerLink="'/'">
      <img src="assets/logo-tm-white.png" alt="Safeguard Privacy Logo">
    </a>
  </div>

  <ul class="menu-items">
    <li [ngClass]="{'li-active': homeRLA.isActive}">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" #homeRLA="routerLinkActive">Home</a>
    </li>
    <li [ngClass]="{'li-active': weatherRLA.isActive}">
      <a routerLink="/weather" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" #weatherRLA="routerLinkActive">Temperature</a>
    </li>
    <li [ngClass]="{'li-active': taskboardRLA.isActive}">
      <a routerLink="/taskboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" #taskboardRLA="routerLinkActive">Taskboard</a>
    </li>
    <li [ngClass]="{'li-active': notesRLA.isActive}">
      <a routerLink="/notes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" #notesRLA="routerLinkActive">Notes</a>
    </li>
  </ul>

  <div class="github">
    <a href="https://github.com/SafeguardPrvcy/candidate-test" target="_blank">
      <fa-icon [icon]="faGithub"></fa-icon>
      Github
    </a>
  </div>
</header>
