<header class="header">
  <div class="logo">
    <a routerLink="'/'">
      <img src="assets/logo-tm-white.png" alt="Safeguard Privacy Logo">
    </a>
  </div>

  <ul class="menu-items">
    <li [ngClass]="{'li-active': homeRLA.isActive}">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" #homeRLA="routerLinkActive">Home</a>
    </li>
    <li [ngClass]="{'li-active': weatherRLA.isActive}">
      <a routerLink="/weather" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" #weatherRLA="routerLinkActive">Temperature</a>
    </li>
    <li [ngClass]="{'li-active': taskboardRLA.isActive}">
      <a routerLink="/taskboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" #taskboardRLA="routerLinkActive">Taskboard</a>
    </li>
    <li [ngClass]="{'li-active': notesRLA.isActive}">
      <a routerLink="/notes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" #notesRLA="routerLinkActive">Notes</a>
    </li>
  </ul>

  <div *ngIf="weatherInfo$ | async as weatherInfo" class="weather-info">
    <img src="assets/icons/{{weatherInfo['weather'][0]['icon'] || 'unknown'}}.png" alt="weather-icon" class="weather-img">
    <div class="weather-info-text">
      <p>{{ weatherInfo.main.temp | number: '1.0-0' }}°F</p>
      <p title="{{weatherInfo.name}}">{{ weatherInfo.name }}</p>
    </div>
  </div>

  <div class="github">
    <a href="https://github.com/SafeguardPrvcy/candidate-test" target="_blank">
      <fa-icon [icon]="faGithub"></fa-icon>
      Github
    </a>
  </div>
</header>
