<header class="header">
  <div class="logo">
    <a routerLink="'/'">
      <img src="assets/logo-tm-white.png" alt="Safeguard Privacy Logo">
    </a>
  </div>

  <ul class="menu-items">
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li>
      <a routerLink="/taskboard" routerLinkActive="active">Taskboard</a>
    </li>
    <li>
      <a routerLink="/notes" routerLinkActive="active">Notes</a>
    </li>
    <li>
      <a routerLink="/weather" routerLinkActive="active">Weather</a>
    </li>
  </ul>

  <div class="github">
    <a href="https://github.com/SafeguardPrvcy/candidate-test" target="_blank">
      <fa-icon [icon]="faGithub"></fa-icon>
      Github
    </a>
  </div>
</header>
