@import 'src/assets/scss/variables';

.board-item {
  border: 1px solid $sg-primary;
  padding: 1rem;
  margin: 0 0 1rem;
  background: $sg-grey;

  &.theme-1 {
    background-color: $sg-danger;
  }

  &.theme-2 {
    background-color: $sg-warning;
  }

  &.theme-3 {
    background-color: $sg-success;
  }
}
