@import 'src/assets/scss/variables';

.board-item {
  border: 1px solid $sg-primary;
  padding: 1rem;
  margin: 0 0 1rem;
  background: $sg-grey;

  &.todo-theme {
    background-color: $sg-danger;
  }

  &.in-progress-theme {
    background-color: $sg-warning;
  }

  &.done-theme {
    background-color: $sg-success;
  }
}
