@import '~normalize.css';
@import '~dragula/dist/dragula.css';
@import 'assets/scss/variables';

html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
  font-size: 1.2rem;
  margin: 0;
  font-family: sans-serif;
  background-color: $sg-light-grey;
}

@import 'assets/scss/dragula';
@import 'assets/scss/base';
@import 'assets/scss/links';


.form-group {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);

  h2 {
    color: $sg-primary-dark;
    padding: 1rem;
    margin-bottom: 0;
    margin-top: .4rem;
  }

  div {
    display: grid;
    padding: 1rem;

    input, textarea {
      width: 95%;
      border: 1px solid $sg-grey;
      border-radius: .5rem;
      margin-top: .5rem;
    }

    textarea {
      resize: none;
    }

    button {
      width: 96%;
      padding: 1rem;
      text-transform: uppercase;
      background-color: $sg-primary-dark;
      color: white;
      cursor: pointer;
    }

    button:hover {
      opacity: .8;
      transition-duration: .3s;
    }

    button:disabled {
      cursor: not-allowed;
      opacity: .3;
    }
  }
}
