@import '~normalize.css';
@import '~dragula/dist/dragula.css';
@import 'assets/scss/variables';

html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
  font-size: 1.2rem;
  margin: 0;
  font-family: sans-serif;
  background-color: $sg-light-grey;
}

@import 'assets/scss/dragula';
@import 'assets/scss/base';
@import 'assets/scss/links';


